.Header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;

  .MenuItem {
    color: white;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    margin: auto 30px auto;

    &:hover {
      opacity: 0.5;
    }
  }
}
