.slider {
  height: 30%;
  display: inline-flex;
  margin-top: 5%;
}

.slide_image {
  border-radius: 10px;
  cursor: pointer;
}

.right-arrow {
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  margin-top: auto;
  margin-bottom: auto;
}

.left-arrow {
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  margin-top: auto;
  margin-bottom: auto;
}

.slide {
  display: contents;

  .slide_image {
    transition-duration: 1s;
    opacity: 0.2;
    transform: scale(0.8);
  }
}

.slide.active {
  opacity: 1;

  .slide_image {
    transition-duration: 1s;
    opacity: 1;
    transform: scale(1.1);
    z-index: 1;
  }
}
