@keyframes progressive_coming {
  0% {
    right: -200px;
  }
  100% {
    right: -140px;
  }
}

.info {
  top: 80%;
  right: -170px;
  z-index: 3;
  position: fixed;
  cursor: pointer;
  border-radius: 15px 0 0 15px;
  background-color: rgb(255, 255, 255);
  transition: 1s;
  padding: 15px 25px 15px 0;
  display: flex;
  flex-direction: row;
  animation-name: progressive_coming;
  animation-duration: 1s;

  &:hover {
    opacity: 0.5;
  }
}

.info.active {
  right: 0;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: 1s;
}

#tool_info_title {
  display: flex;
  align-items: center;
}

.info > div > p {
  margin: 0;
  font-size: medium;
  transform: rotate(-90deg);
  color: black;
  text-transform: uppercase;
  font-weight: 1000;
}

.logo_wrapper {
  width: 120px;
  display: grid;
  grid-auto-flow: column;
  gap: 10%;
  padding: 0 10px;
}

.tool_logo {
  width: 50px;
  margin: 5%;
}
