.home_page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.home_content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.home_content .home_title {
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-shadow: -3px 3px 11px rgba(0, 0, 0, 0.3);
  margin: 0;
  color: white;
  z-index: 1;
}

.home_content .home_subtitle {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin: 1%;
  z-index: 1;
}
