.App {
  height: 100%;
  text-align: center;
  background-image: url("../../public/assets/background/cesar-couto-TIvFLeqZ4ec-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
