.messages-displayer {
  top: 10%;
  width: 50%;
  position: fixed;
  z-index: 3;
  height: 5%;
  align-items: center;
  background-color: transparent;
  display: flex;
  align-items: center;
  right: -50%;

  p {
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    color: #f5a623;
    font-weight: bold;
  }

  &.visible {
    right: 150%;
    transition: right 50s ease-in-out;
  }

  &.hidden {
    right: -50%;
  }
}
