.popin {
  height: 5%;
  position: fixed;
  bottom: -5%;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &.active {
    transition: 1s;
    bottom: 0%;
  }
}
